# Dependencies
node_modules
client/node_modules
server/node_modules

# Build outputs
client/dist
.vercel

# Environment variables
.env
.env.local
server/.env

# IDE and OS files
.vscode
.DS_Store
*.log
